[submodule "VolleyTEST/modules/volley"]
	path = VolleyTEST/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "HeaderButton/modules/volley"]
	path = HeaderButton/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "JSONGetter/modules/volley"]
	path = JSONGetter/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "VolleyInstallTest/modules/volley"]
	path = VolleyInstallTest/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "Monst/modules/volley"]
	path = Monst/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "TABTest/modules/volley"]
	path = TABTest/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "NinePostFragment/modules/volley"]
	path = NinePostFragment/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "GetJsonToList/modules/volley"]
	path = GetJsonToList/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "VolleySample2/modules/volley"]
	path = VolleySample2/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "kancolle/modules/volley"]
	path = kancolle/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "Pazdra/modules/volley"]
	path = Pazdra/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "VolleyApplication/modules/volley"]
	path = VolleyApplication/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "Splatoon/modules/volley"]
	path = Splatoon/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "Pokemongo/modules/volley"]
	path = Pokemongo/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
