[submodule "VolleyTEST/modules/volley"]
	path = VolleyTEST/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "HeaderButton/modules/volley"]
	path = HeaderButton/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "JSONGetter/modules/volley"]
	path = JSONGetter/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
[submodule "VolleyInstallTest/modules/volley"]
	path = VolleyInstallTest/modules/volley
	url = https://android.googlesource.com/platform/frameworks/volley
